{% load url from future %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>onBarista</title>
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <!--<script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">
    	body{
    		padding-top:60px;
    		padding-bottom:40px;
    	}
    	.sidebar-nav{
    		padding: 9px 0;
    	}
    	@media (max-width: 980px){
    		.navbar-text.pull-right{
    			float:none;
    			padding-left: 5px;
    			padding-right: 5px;
    		}
    	}
    </style>
    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/onBarista.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script>
    /*$(function(){
      $('li').live('click', function(){
        $(this).addClass('active');
      });

    });*/
    $('.dropdown-menu a').live('click',function(e) {
      e.stopPropagation();});
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class='navbar navbar-inverse navbar-fixed-top'>
  		<div class="navbar-inner">
  			<div class="container-fluid">
  				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="brand" href="#">On Barista</a>
  				<div class="nav-collapse collapse">
  					<ul class="nav">
              <li class="{{navFlag.Home}}">
                {% if user.favCompany %}
  						    <a href="{% url 'onBaristaApp:companyHome' user.favCompany.pk %}">Home</a>
                {% else %}
                  <a href="{% url 'onBaristaApp:companyHome' '0' %}">Home</a>
                {% endif %}
              </li>
  						<li class="{{navFlag.Baristas}}"><a href="{% url 'onBaristaApp:baristas' '0' %}">Baristas</a></li>
              {% if user.isCompanyAdmin %}
              <li class="{{navFlag.Admin}}"><a href="{% url 'onBaristaApp:admin_panel' %}">Admin Panel</a></li>
              {% endif %}
  						<!--<li class="{{navFlag.ManageFavs}}"><a href="{% url 'onBaristaApp:favorites' %}">Manage Favs</a></li>
              <li class="{{navFlag.ManageProfile}}"><a href="{% url 'onBaristaApp:view_profile' %}">Manage Profile</a></li>
              <li><a href="{% url 'onBaristaApp:logout' %}">logout</a></li>-->
            </ul>
            <!-- This is the User Name/nav drop down. for updating profile/favorites/loging out -->
            <!--<p class="navbar-text pull-right" style='float:right'>-->
            <div style='float:right'>
              <ul class="nav nav-pills" style='display:inline'>
                {% if user.get_mug %}
                  <li><img src='/static/Media/{{user.mug}}' style='width:25px; display:inline' class="img-rounded"></li>
                {% else %}
                  <li></li>
                {% endif %}
                <li class="dropdown" style="display:inline">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" style='color:#08C'>
                    {{user.user.username}}<b class="caret"></b>
                  </a> 
                  <ul class='dropdown-menu' data-toggle='dropdown'>
                    <li><a href="{% url 'onBaristaApp:favorites' %}">Manage Favs</a></li>
                    <li><a href="{% url 'onBaristaApp:view_profile' %}">Manage Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'onBaristaApp:logout' %}">logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!--</p>-->
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="container-fluid">
  		<div class="row-fluid">
  			<div class="span3">
          {% if navigation %}
          {% if fromHome %}
  				<div class="well sidebar-nav">
  					<ul class="nav nav-list">
  						{% if user.favCompany %}
  						  <li class="nav-header">Favorite Company:</li>
                {% if selectedID|stringformat:"s" == user.favCompany.pk|stringformat:"s" %}
                  <li id ="{{user.favCompany.pk}}" class="active"><a href="{% url 'onBaristaApp:companyHome' user.favCompany.pk %}">{{user.favCompany.companyName}}</a></li>
                {% else %}
                  <li id ="{{user.favCompany.pk}}"><a href="{% url 'onBaristaApp:companyHome' user.favCompany.pk %}">{{user.favCompany.companyName}}</a></li>
                {% endif %}
  						{% else %}
              <li class="nav-header">Favorite Company:</li>
  						<li><a href="{% url 'onBaristaApp:favorites' %}">Click to add a fav company</a></li>
  						{% endif %}
              <li class="nav-header">All Companies:</li>
              {% for company in companies %}
                {% if user.favCompany != company %}
                {% if selectedID|stringformat:"s" == company.pk|stringformat:"s" %}
                  <li id="{{company.pk}}" class='active'><a href="{% url 'onBaristaApp:companyHome' company.pk %}">{{company.companyName}}</a></li>
                {% else %}
                  <li id="{{company.pk}}"><a href="{% url 'onBaristaApp:companyHome' company.pk %}">{{company.companyName}}</a></li>
                {% endif %}
                {% endif %}
              {% endfor %}
  					</ul>
  				</div>
          {% endif %}
          {% if fromBaristas %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% if user.favCompany %}
                <li class="nav-header">Favorite Company:</li>
                {% if selectedID|stringformat:"s" == user.favCompany.pk|stringformat:"s" %}
                  <li id ="{{user.favCompany.pk}}" class="active"><a href="{% url 'onBaristaApp:baristas' user.favCompany.pk %}">{{user.favCompany.companyName}}</a></li>
                {% else %}
                  <li id ="{{user.favCompany.pk}}"><a href="{% url 'onBaristaApp:baristas' user.favCompany.pk %}">{{user.favCompany.companyName}}</a></li>
                {% endif %}
              {% else %}
              <li class="nav-header">Favorite Company:</li>
              <li><a href="{% url 'onBaristaApp:favorites' %}">Click to add a fav company</a></li>
              {% endif %}
              <li class="nav-header">All Companies:</li>
              {% for company in companies %}
                {% if user.favCompany != company %}
                {% if selectedID|stringformat:"s" == company.pk|stringformat:"s" %}
                  <li id="{{company.pk}}" class='active'><a href="{% url 'onBaristaApp:baristas' company.pk %}">{{company.companyName}}</a></li>
                {% else %}
                  <li id="{{company.pk}}"><a href="{% url 'onBaristaApp:baristas' company.pk %}">{{company.companyName}}</a></li>
                {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endif %}
  			</div>
  			<div class="span9">
  			  	{% block contents %}{% endblock %}
  			</div>
  		</div>
  	</div>



    <div class='navbar navbar-inverse navbar-fixed-bottom'>
      <div class="navbar-inner" style="color: #999">
        {% if user.favBaristaObj %}
         {% if isCheckedIn %}
         {{user.favBaristaObj}} is checked in at {{checkIn.location.companyID}}
         {% else %}
         {{user.favBaristaObj}} is not checked in.
         {% endif %}
        {% else %}
        You have not selected a favorite barista!  <a href="{% url 'onBaristaApp:favorites' %}">Manage Favorites</a>
        {% endif %}
      </div>
    </div>
  </body>
</html>