{% extends "base.html" %}
{% load url from future %}

{% block contents %}
	{% if message %}

	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{message}}
	</div>
	{% endif %}
	<script>
	$(function(){
		
		$('#inputBarista').bind('keyup', function(){
			searchString = $(this).val();
			console.log(searchString);
			obj = $(this);
			if(searchString)
			{ 	csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
				$.post("{% url 'onBaristaApp:baristaList' %}", {'searchString':searchString,'csrfmiddlewaretoken':csrf}, function(data){
					obj.siblings('.autoComplete').html(data).fadeIn();
				});
			}
			else
			{	
				$(this).siblings('.autoComplete').fadeOut();
				$(this).removeClass('inputFromOjbect');
				$(this).siblings('#HiddenID').val('');
			}

		});
		$('#inputCompany').bind('keyup', function(){
			searchString = $(this).val();
			console.log(searchString);
			obj = $(this);
			if(searchString)
			{ 	csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
				$.post("{% url 'onBaristaApp:companyList' %}", {'searchString':searchString,'csrfmiddlewaretoken':csrf}, function(data){
					obj.siblings('.autoComplete').html(data).fadeIn();
				});
			}
			else
			{	
				$(this).siblings('.autoComplete').fadeOut();
				$(this).removeClass('inputFromOjbect');
				$(this).siblings('#HiddenID').val('');
			}

		});

    	$('.ACResult').live('click', function(){
    		var name = $(this).attr('resultName');
    		var id = $(this).attr('id');
    		var $input =  $(this).parent().parent().siblings('.acInput');
    		$input.val(name);
    		$input.attr('value', name);
    		$input.addClass('inputFromObject');
    		$input.siblings('.autoComplete').fadeOut();
    		$input.siblings('#HiddenID').val(id);
    	});
	});
	</script>
	<div class="hero-unit">
		<form class="" action="{% url 'onBaristaApp:updateFavs' %}" method="post">
		{% csrf_token %}
			<div class='control-group'>
				<label class='control-label'>Favorite Company:</label>
				<div class='controls'>
					<input type="text" class='acInput' id="inputCompany" name='company' placeholder="Company" {% if user.favCompany %}value='{{user.favCompany}}' {% endif %} autocomplete='off'>
					<input type="text" id="HiddenID" name ='companyID' style='display:none'>
					<div class='autoComplete'></div>
				</div>
			</div>
			<div class='control-group'>
				<label class='control-label'>Favorite Barista:</label>
				<div class='controls'>
					<input class='acInput'type="text" id="inputBarista" name='barista' placeholder="Barista" {% if user.favBaristaObj %}value = '{{user.favBaristaObj}}' {% endif %} autocomplete='off'>
					<input type="text" id="HiddenID" name ='baristaID' style='display:none'>
					<div class='autoComplete'></div>
				</div>
			</div>
			
			<button class="btn" type="submit">Update Favorites!</button>
		</form>
	</div>
{% endblock %}