{% extends "base.html" %}
{% load tz %}
{% block contents %}
	{% if locations %}
		{% for location in locations %}
			<div class="hero-unit">
				<span><strong>{{ location }}</strong></span><br>
				<ul class="nav nav-list">
				{% if location.checkins %}
					{% for checkin in location.checkins %}
						{% localtime on %}
						{% if checkin.get_barista_mug %}
							<li><img src='/static/Media/{{ checkin.get_barista_mug }}' style='width:50px;' class="img-polaroid"> &nbsp;{{ checkin }}{{ checkin.get_tzobject }}</li>
						{% else %}
						    <li>{{ checkin }}{{ checkin.get_tzobject }}</li>
						{% endif %}
				        {% endlocaltime %}
					{% endfor %}
				{% else %}
					<li>There are no Baristas checked in at this location</li>
				{% endif %}
				</ul>
			</div>
		{% endfor %}
	{% else %}
		<div class="hero-unit">
			<p>Please select a company to view.</p>
		</div>
	{% endif %}
{% endblock %}