{% extends "base.html" %}

{% block contents %}
	{% if locations %}
		{% for location in locations %}
			<div class="hero-unit">
				<span><strong>{{ location }}</strong></span><br>
				<ul class="nav nav-list">
				{% if location.checkins %}
					{% for checkin in location.checkins %}
						{% if checkin.get_barista_mug %}
							<img src='/static/Media/{{ checkin.get_barista_mug }}' style='width:50px' class="img-polaroid"><li>{{ checkin }}</li>
						{% else %}
						    <li>{{ checkin }}</li>
						{% endif %}
					{% endfor %}
				{% else %}
					<li>There are no Baristas checked in at this location</li>
				{% endif %}
				</ul>
			</div>
		{% endfor %}
	{% else %}
		<div class="hero-unit">
			<p>Please select a company to view.</p>
		</div>
	{% endif %}
{% endblock %}