{% extends "base.html" %}
{% load url from future %}
{% load tz %}


{% block contents %}

{% for location_checkins in all_checkin_data %}
<div class="hero-unit">
  {% for check_in_object in location_checkins %}
	<div class="hero-unit">
      <span><strong>{{ check_in_object.location }}</strong></span><br>
	  <ul class="nav nav-list">

		{% if check_in_object %}

			{% localtime on %}
			  {% if check_in_object.get_barista_mug %}
				<li><img src='/static/Media/{{ check_in_object.get_barista_mug }}' style='width:50px;' class="img-polaroid"> &nbsp;{{ check_in_object }}{{ check_in_object.get_tzobject }}</li>
			  {% else %}
			    <li>{{ check_in_object }}{{ check_in_object.get_tzobject }}</li>
			  {% endif %}

			{% endlocaltime %}

		{% else %}
		  <li>There are no Baristas checked in at this location</li>
		{% endif %}

	  </ul>
	</div>
  {% endfor %}
	</div>

{% endfor %}

{% endblock %}
