{% extends "base.html" %}
{% load url from future %}

{% block body_tag %} profile {% endblock %}

{% block contents %}

{% if message %}
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert alert-success">&times;</button>
    <strong>Hey!</strong> {{ message }}
  </div>
{% endif %}

<div class=hero-unit>
  <h1>{{ user.full_name }}</h1>
  <br>
  <form action="{% url 'onBaristaApp:view_profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.mug.errors }}
      <blockquote>
        <img src='/static/Media/{{user.mug}}' style='width:50px' class="img-polaroid">
        {{ form.mug }}
          <small>{{ form.mug.help_text }}</small>
      </blockquote>
    <p>
{#       <input value="Upload" style="display:none"></input> #}
      <button class="btn btn-large btn-primary" type="submit">Not Implemented!</button>
    </p>
  </form>
  <form action="{% url 'onBaristaApp:set_timezone' %}" method="POST">
      {% csrf_token %}
      <label for="timezone">Time zone:</label>
      <select name="timezone">
          {% for tz in timezones %}
          <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Set" />
  </form>
  {{ user.userType }}

  {% if user.usercheckedin %}
    <br>
    Checked in at <a href="{% url 'onBaristaApp:companyHome' user.get_self_checkIn.location.companyID.pk %}">{{ user.get_self_checkIn.location }}</a>
  {% endif %}

  <br>
  Email: {{ user.user.email }}
</div>

{% endblock %}